<div>
  <h2>List of Known Users</h2>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Username</th>
      <th scope="col">E-Mail</th>
      <th scope="col">Role</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>super</td>
      <td>superuser@email.com</td>
      <td>superadmin</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>groupadmin</td>
      <td>groupadmin@email.com</td>
      <td>groupadmin</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>groupassis</td>
      <td>groupassis@email.com</td>
      <td>groupassis</td>
    </tr>
    </tbody>
  </table>
</div>
