<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
    </div>
    <div class="col-sm-8 text-left">
      <h1 id="chathead">Chat</h1>
      <div>
        <form>
          <div class="form-group">
            <label for="messagecontent">New Message</label>
            <input type="text" name="messagecontent" id="messagecontent" class="form-control" />
          </div>
          <div class="form-group">
            <button class="btn btn-primary">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

