button {
  width: 25em;
}
h2 {
  padding-top: 1em;
  padding-bottom: 0.5em;
  width: 25em;
  margin-left: 36.7vw;
}
button {
  width: 25em;
  margin-left: 36.7vw;
}
input {
  margin-left: 36.7vw;
  width: 25em;
}
label {
  margin-left: 36.7vw;
  width: 30em;
}
#alluser {
  position:absolute;
  top: 1em;
  right: 7em;
  width: 12em;
}
#delbutt {
  margin-top: 0.5em;
  width: 6em;
}
